// _article.scss
.article {
  padding: 15px 0px 45px;
  position: relative;
  color: #fff;
  z-index: 2;

  // &:before {
  //   content: "...";
  //   color: inherit;
  //   position: absolute;
  //   top: -17px;
  //   left: 16.5px;
  //   font-size:30px;
  //   letter-spacing: 1px;
  // }
}
.article-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  font-size:30px;
  line-height: 34px;
  padding: 0 15px;
}
.article-content_holder {
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  padding: 15px;
  margin-bottom: 30px;
  .article-paragraph_black {
    color: #000;
  }
  p {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
  }
  p:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (min-width: $bp-1) {
  .article {
    padding-bottom: 90px;
    // &:before {
    //   left:58px;
    // }
  }
  .article-title {
    margin: 0px 30px 30px;
    padding: 0px 30px;
  }
  .article-content_holder {
    padding: 30px;
    margin: 0 30px 30px;
  }
}

@media (min-width: $bp-2) {
  .article {
    padding-top: 138px;
    // &:before {
    //   position: absolute;
    //   top: 90px;
    //   left: 75px;
    //   font-size:30px;
    //   letter-spacing: 1px;
    // }
  }
  .article-title {
    margin: 0px 45px 45px;
  }
  .article-content_holder {
    max-width: 610px;
    margin: 0 45px 45px;
  }
}
