// _map.scss

@media (min-width: $bp-2) {
  #map {
    width:100%;
    height:600px;
    position: relative;
  }
  .map-text_container {
    width: 300px;
    // height: 90%;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    margin:auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: bold;
    z-index: 2;

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .map-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 7;
    display: flex;
    align-items: center;
    cursor: default;
  }
  .map-btn {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
    background-image: url('../images/map/white-play-button.png');
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
