// _themes.scss
.theme-maroon {
  background-color: $color-maroon;
  background-blend-mode: multiply;
  color: #fff;

  @include selection(true) {
    color: $color-maroon;
    background-color: #fff;
  }
}
.theme-blue {
  background-color: $color-blue;
  background-blend-mode: multiply;
}
.theme-fixed {
  background-attachment: fixed;
}
