// _themes.scss
.theme-maroon {
  background-image: url('../images/background-maroon.jpg');
  color: #fff;

  @include selection(true) {
    color: $color-maroon;
    background-color: #fff;
  }
}
.theme-blue {
  background-image: url('../images/background-blue.jpg');
}
.theme-fixed {
  background-attachment: fixed;
}
