<div class="credits visible-desktop">
  <div class="credits-author">
    <h1 class="credits-title">
      @@name
    </h1>
    <div class="credits-author_bio">
      @@bio
    </div>
    <div class="credits-author_credit">
      Writer <b>@@name</b>
    </div>
    <div class="credits-author_credit">
      Art Director <b>Hussein Nakhal</b>
    </div>
    <div class="credits-author_credit">
      Illustrator <b>Nour Bishouty</b>
    </div>
    <div class="credits-author_credit">
      Developer <b>Patsy Issa</b>
    </div>
    <div class="credits-author_credit">
      Web Designer <b>Joanna Zeenny</b>
    </div>
  </div>
  <div class="credits-funders">
    <h1 class="credits-title">Funded by</h1>
    <img src="images/credits/funders/cooperations_media.png" alt="">
    <img src="images/credits/funders/european_union.png" alt="">
  </div>
  <div class="credits-creators">
    <h1 class="credits-title">The creators</h1>
    <img src="images/credits/creators/mashallah_news.png" alt="">
    <img src="images/credits/creators/knooz_room.png" alt="">
  </div>
  <div class="clearfix"></div>
</div>
