<div class="menu">
  <div class="menu-column">
    <div class="menu-thumbnail">
      <img src="images/menu/geographies_of_war.png" alt="">
      <h1 class="menu-thumbnail_title">
        geographies of war
      </h1>
      <p class="menu-thumbnail_desc">
        A ride to the airport reconfigured by a war that cut off roads and burned bridges. Snipers serve as traffic police directing where to go. What then becomes of our memories of the frenzied escapes?
      </p>
    </div>

    <div class="menu-thumbnail">
      <img src="images/menu/tyre.png" alt="">
      <h1 class="menu-thumbnail_title">
        TYRE: BOAT OVER TROUBLED WATER
      </h1>
      <p class="menu-thumbnail_desc">
        Israel's occupation of South Lebanon meant that marine routes of the country's fishermen ebbed and flowed, having a drastic effect on both their livelihoods and their safety.
      </p>
    </div>

    <div class="menu-thumbnail">
      <img src="images/menu/iran.png" alt="">
      <h1 class="menu-thumbnail_title">
        IRAN: ON THE ROAD
      </h1>
      <p class="menu-thumbnail_desc">
        The 17.9 km Pahlavi/Mossadegh/Valiasr street mirrors the social structure of Tehran, as well as the political ruptures that it went through in its tumultuous modern history.
      </p>
    </div>

    <div class="menu-thumbnail">
      <img src="images/menu/railway.png" alt="">
      <h1 class="menu-thumbnail_title">
        THE LOST RAILWAY
      </h1>
      <p class="menu-thumbnail_desc">
        A story about the Ottoman empire's penultimate train route before reaching Vienna. The route, created during the Tanzimat (reformation) period stands as a symbol for the empire's last ditch empire to open up to the world, and how these dreams were promptly destroyed.
      </p>
    </div>

  </div>

  <div class="menu-column">

    <div class="menu-thumbnail">
      <img src="images/menu/haydarpasa.png" alt="">

      <h1 class="menu-thumbnail_title">
        HAYDARPASA: TERMINAL TERMINUS
      </h1>
      <p class="menu-thumbnail_desc">
        A transport hub for a train network that spanned the entire region, Haydarpasa has transformed from a highly functional building to a heritage site. The fate of Haydarpasa resigns our dreams of a unified Middle East, into just that: dreams.
      </p>
    </div>

    <div class="menu-thumbnail">
      <img src="images/menu/desert_pullmans.png" alt="">
      <h1 class="menu-thumbnail_title">
        the desert pullmans
      </h1>
      <p class="menu-thumbnail_desc">
        Before colonial powers carved up a once territorially contiguous Arab world into separate states, two brothers from New Zealand, forgotten, for the most part, today, introduced a pan-Arab path. Meet the desert pullmans and discover this once possible world.
      </p>
    </div>

    <div class="menu-thumbnail">
      <img src="images/menu/ma.png" alt="">
      <h1 class="menu-thumbnail_title">
        MOHAMMED ALI OF KAVALA
      </h1>
      <p class="menu-thumbnail_desc">
        Muhammad Ali of Egypt didn't Europeanize Egypt, as is often said, but Balkanized it, so claims the author of this piece. Muhammad Ali arduous journey from Kevala through Crete to the epicenter of his power base in Cairo stands as a testament to this.
      </p>
    </div>

    <div class="menu-thumbnail">
      <img src="images/menu/bus_4.png" alt="">
      <h1 class="menu-thumbnail_title">
        BUS # 4
      </h1>
      <p class="menu-thumbnail_desc">
        The winding route of Bus #4 shows us that while Civil War Beirut was torn apart by guns and artillery, post-Civil War Beirut is divided by economics and a myriad of subcultures.
      </p>
    </div>
  </div>
  <div class="menu-close"></div>
</div>
